services:
  mongo:
    image: mongo
    restart: always
    container_name: mongo
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

  auth-service:
    build:
      context: ./auth-service
    ports:
      - "4000:4000"
    volumes:
      - ./auth-service:/app
      - /app/node_modules
    environment:
      - MONGO_URI=mongodb://mongo:27017/authdb
      - JWT_SECRET=secreto-super-seguro
    depends_on:
      - mongo

  postgres:
    image: postgres:16-alpine
    restart: always
    container_name: postgres
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_DB=bookingdb
      - POSTGRES_USER=booking
      - POSTGRES_PASSWORD=booking123
    volumes:
      - postgres_data:/var/lib/postgresql/data

  booking-service:
    build:
      context: ./booking-service
    ports:
      - "5000:5000"
    volumes:
      - ./booking-service:/app
    environment:
      - PORT=5000
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_NAME=bookingdb
      - DB_USER=booking
      - DB_PASSWORD=booking123
      - JWT_SECRET=secreto-super-seguro
      - USER_SERVICE_URL=http://user-service:5003
      - NOTIFICATION_SERVICE_URL=http://notification-service:5002
    depends_on:
      - postgres

  notification-service:
    build:
      context: ./notification-service
    ports:
      - "5002:5002"
    volumes:
      - ./notification-service:/app
      - /app/node_modules
    environment:
      - EMAIL_HOST=sandbox.smtp.mailtrap.io
      - EMAIL_PORT=2525
      - EMAIL_USER=58b4d823829f7f
      - EMAIL_PASS=e77d610fd759b5
    depends_on:
      - mongo

  user-service:
    build: ./user-service
    container_name: user-service
    restart: always
    ports:
      - "5003:5003"
    environment:
      - PORT=5003
      - MONGO_URI=mongodb://mongo:27017/user-service-db
      - JWT_SECRET=secreto-super-seguro
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - auth-service
      - booking-service

volumes:
  mongo_data:
  postgres_data:
